<%# A linha abaixo carrega no template o conteúdo total do arquivo header.ejs%>
<%-include('base_header') -%>
<form action="add" method="post">
        Título do projeto: <input name=titulo type="text" value="Título projeto"/><br/>
        Inicio: <input type="text" name=inicio value="data início"/><br/>
        Fim: <input type="text" name=fim value="data fim"/><br/>
        Link: <input type="text" name=link value="Link do projeto"/><br/>
        Descrição: <input type="text" name=description value="Descrição"/><br/>
        <input type="submit" />        
    </form>
 
</body>
<%# A linha abaixo carrega no template o conteúdo total do arquivo footer.ejs %>
<%- include('base_footer') -%>